<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/elementcss")  
    @Styles.Render("~/Content/styles") @*自己的css文件*@

</head>
<body>
    <div id="main">
        <el-container>
            <!-- Header -->
            <el-header>
                <!-- 导航栏 -->
                    <el-menu mode="horizontal" class="navbar">
                        <el-menu-item index="1">@Html.ActionLink("主页", "Index", "Home")</el-menu-item>
                        <el-menu-item index="2">@Html.ActionLink("关于", "About", "Home")</el-menu-item>
                        <el-menu-item index="3">@Html.ActionLink("联系方式", "Contact", "Home")</el-menu-item>
                    </el-menu>
            </el-header>
            <!-- 主体 -->
            <el-main>
                @RenderBody()
                <hr />
            </el-main>
            <!-- Footer -->
            <el-footer>
                <p>&copy; @DateTime.Now.Year - 二手书店</p>
            </el-footer>
        </el-container>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/axios")      @*axios js文件*@
    @Scripts.Render("~/bundles/vue")        @*vue js文件*@
    @Scripts.Render("~/bundles/element")    @*element js文件*@
    @Scripts.Render("~/bundles/myscripts")       @*自己的js文件*@
    @RenderSection("scripts", required: false)
</body>
</html>
