<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>同济二手书店 - @ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/elementcss")
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/styles/layout.css") @*基本布局*@
    @Styles.Render("~/Content/styles/navbar.css") @*导航栏*@
    @Styles.Render("~/Content/styles/footer.css") @*底部*@
    @RenderSection("styles", required: false)     @*自己的css文件*@

</head>
<body>
    <div id="main">
        <el-container class="mainContainer">
            <!-- Header -->
            <el-header class="header">
                <!-- 导航栏 -->
                <el-menu id="navbar" mode="horizontal" class="navbar">
                    <div class="navbar-item-blank-left"></div>
                    <img class="logo" src="@Href("~/Content/imgs/tongji.png")"/>
                    <el-menu-item class="navbar-item" index="1">@Html.ActionLink("主页", "Index", "Home", null, new { @class = "fa fa-home fa-lg" })</el-menu-item>
                    <el-menu-item class="navbar-item" index="2">@Html.ActionLink("商城", "Mall", "Home", null, new { @class = "fa fa-shopping-bag fa-lg" })</el-menu-item>
                    <div class="navbar-item-blank-center"></div>
                    <el-submenu class="navbar-menu" index="3" v-if="isLogin">
                        <template slot="title">
                            <img class="avatar" src="@Href("~/Content/imgs/avatar-default.svg")" />
                        </template>
                        <el-menu-item class="navbar-item" index="3-1">
                            @Html.ActionLink("个人中心", "Index", "Home", null, new { @class = "fa fa-user-circle fa-lg" })
                        </el-menu-item>
                        <el-menu-item class="navbar-item" index="3-2">
                            <a class="fa fa-sign-out fa-lg" href="javascript:;" onclick="app.logout()">退出登录</a>
                        </el-menu-item>
                    </el-submenu>
                    <el-menu-item class="navbar-item" index="4" v-if="!isLogin">@Html.ActionLink("登录", "Login", "Account", null, new { @class = "fa fa-sign-in fa-lg" })</el-menu-item>
                    <el-menu-item class="navbar-item" index="5" v-if="!isLogin">@Html.ActionLink("注册", "Regesiter", "Account", null, new { @class = "fa fa-user-plus fa-lg" })</el-menu-item>
                    <div class="navbar-item-blank-right"></div>
                </el-menu>
                @RenderSection("PageHeader", required: false)
            </el-header>
            <!-- 主体 -->
            <el-main>
                <!-- 回到顶部按钮 -->
                <el-backtop>
                </el-backtop>
                @RenderBody()
            </el-main>
            <!-- Footer -->
            <el-footer class="footer">
                <p>&copy; @DateTime.Now.Year - 同济二手书店</p>
            </el-footer>
        </el-container>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/axios")      @*axios js文件*@
    @Scripts.Render("~/bundles/vue")        @*vue js文件*@
    @Scripts.Render("~/bundles/element")    @*element js文件*@
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/js/index.js")       @*自己的js文件*@
</body>
</html>
