<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/styles/searchPage.css" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/elementcss")
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/styles/layout.css") @*基本布局*@
    @Styles.Render("~/Content/styles/navbar.css") @*导航栏*@
    @RenderSection("styles", required: false)     @*自己的css文件*@
</head>
<body>
    <div id="main">
        <el-container class="mainContainer">
            <!-- Header -->
            <el-header class="header">
                <!-- 导航栏 -->
                <el-menu id="navbar" mode="horizontal" class="navbar">
                    <div class="navbar-item-blank-left"></div>
                    <img class="logo" src="@Href("~/Content/imgs/tongji.png")" />
                    <el-menu-item class="navbar-item" index="1">@Html.ActionLink("主页", "Index", "Home", null, new { @class = "fa fa-home fa-lg" })</el-menu-item>
                    <el-menu-item class="navbar-item" index="2">@Html.ActionLink("商城", "Mall", "Home", null, new { @class = "fa fa-shopping-bag fa-lg" })</el-menu-item>
                    <el-menu-item class="navbar-item" index="2">@Html.ActionLink("检索", "searchPage", "search", null, new { @class = "fa fa-search fa-lg" })</el-menu-item>
                    <div class="navbar-item-blank-center"></div>
                    <el-submenu class="navbar-menu" index="3" v-if="isLogin">
                        <template slot="title">
                            <img class="avatar" src="@Href("~/Content/imgs/avatar-default.svg")" />
                        </template>
                        <el-menu-item class="navbar-item" index="3-1">
                            @Html.ActionLink("个人中心", "Information", "Account", null, new { @class = "fa fa-user-circle fa-lg" })
                        </el-menu-item>
                        <el-menu-item class="navbar-item" index="3-2">
                            @Html.ActionLink("发布售卖信息", "Publish", "Home", null, new { @class = "fa fa-plus fa-lg" })
                        </el-menu-item>
                        <el-menu-item class="navbar-item" index="3-3">
                            <a class="fa fa-sign-out fa-lg" href="javascript:;" onclick="app.logout()">退出登录</a>
                        </el-menu-item>
                    </el-submenu>
                    <el-menu-item class="navbar-item" index="4" v-if="!isLogin">@Html.ActionLink("登录", "Login", "Account", null, new { @class = "fa fa-sign-in fa-lg" })</el-menu-item>
                    <el-menu-item class="navbar-item" index="5" v-if="!isLogin">@Html.ActionLink("注册", "Regesiter", "Account", null, new { @class = "fa fa-user-plus fa-lg" })</el-menu-item>
                    <div class="navbar-item-blank-right"></div>
                </el-menu>
            </el-header>
        </el-container>
        <!-- 回到顶部按钮 -->
        <el-backtop>
        </el-backtop>
    </div>
    @RenderBody()
</body>
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/axios")      @*axios js文件*@
@Scripts.Render("~/bundles/vue")        @*vue js文件*@
@Scripts.Render("~/bundles/element")    @*element js文件*@
@RenderSection("scripts", required: false)
<script>
    var Data = {
        isLogin: false,
        uid: 0,
    };
    //方法
    var Methods = {
        logout: function () {       //退出登录
            sessionStorage.removeItem('isLogin');
            sessionStorage.removeItem('uid');
            alert("已退出登录！");
            this.isLogin = false;
        }
    }
    //创建时执行的函数
    var Created = function () {
            Data.isLogin = false;
            if (sessionStorage.getItem("isLogin")) {        //判断是否登录
                var uid = sessionStorage.getItem("uid");
                console.log("UID:" + uid);
                this.isLogin = true;
                this.uid = uid;
            }
    }

</script>
@Scripts.Render("~/Scripts/js/index.js")       @*自己的js文件*@
