@model IEnumerable<DateBaseTest.GOODS>

@{
    Layout = "~/Views/Shared/_SearchLayout.cshtml";
    ViewBag.Title = "show_borrows";
}
@section styles{
    @Styles.Render("~/Content/styles/show_goods.css")
}

<div id="pic"><img id="sea" src="~/Content/imgs/sea.jpg" /></div>
<div id="tab">
    <p>您好:</p>
    @ViewData["user_id"]
    <p>以下是符合要求的商品，已按总评分排序</p>
    <table class="table">
        <tr>
            <th>
                <p>书名</p>
            </th>
            <th>
                <p>价格</p>
            </th>
            <th>
                <p>书主人</p>
            </th>
            <th>
                <p>总评分</p>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.book_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.saler_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.score)
                </td>
                <td>
                    <button onclick="jump_to_borrow(@item.good_id)">查看详情</button>
                </td>
            </tr>
        }

    </table>
</div>
@section scripts{
    <script>

    function jump_to_borrow(goods_id) {
        location = "../one/borrow_one_goods?goods_id=" + goods_id.toString();
    }
    </script>
}